<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="index.css">
	<body>
		<h1>cclub snacks </h1>
		<div class="fixed_options">
		<div class="options">
			<h2>Choose Your Snack</h2>
			<h3 class="section">Candy</h3>
				<button type="button">charge</button>
				<button type="button">cancel</button>
				<button type="button"> popcorn</button>
			<h3 class="section">Candy</h3>
				<button type="button">charge</button>
				<button type="button">cancel</button>
			<h3 class="section">Candy</h3>
				<button type="button">charge</button>
				<button type="button">cancel</button>
				<button type="button"> popcorn</button>
				<button type="button"> popcorn</button>
			<h3 class="section">Candy</h3>
				<button type="button">charge</button>
			<h3 class="section">Candy</h3>
				<button type="button">charge</button>
				<button type="button">cancel</button>
				<button type="button"> popcorn</button>
				<button type="button"> popcorn</button>
				<button type="button"> popcorn</button>
				<button type="button"> popcorn</button>
		</div>
		</div>
<aside>
	<h3>USER $$$</h3>
	<table>
   		<tr>
			<th scope="col">prduct name</th>
			<th scope="col"> unit cost</th>
			<th scope="col">quantity</th>
			<th scope="col">total cost</th>
		</tr>
		<tr>
   			<th>popcorn</th>
   			<th>0.25</th>
   			<th>1</th>
   			<th>0.25</th>
   
		</tr>
	</table>
	<button type="button"> popcorn</button>
			<button type="button"> popcorn</button>
</aside>
</body>
</html>