<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<script type="text/javascript" src = "../static/javascript/script.js"></script>
	<body>
			<h1>cclub snacks </h1>
			<div class="container">
			<div class="fixed_options">
			<div class="option_list">
				<h2>Choose Your Snack</h2>
		{% for product in products %}
		<tr>
			<td>
					<button type="button" class="option" onclick="insert('{{product.productName}}', {{product.cost}})">{{product.productName}}({{product.cost}})</button>
			</td>
			</tr>
		{% endfor %}
	</div>
</div>
<div class="container">
		<div class="right">
			<h3 class="user">User $$$</h3>
			<br>
			<div class="rtable_scroll">
			<table class="right_table" id="checkout">
				   <tr class="table_row">
					<th scope="col">Item</th>
					<th scope="col">Unit Cost</th>
					<th scope="col">Quantity</th>
					<th scope="col">Total</th>
				</tr>
			</table>
		</div>
			<br>
			<div class="wrapper">
			<div class="confirmation_buttons">
			<button type="button" class="cancel" onclick= "remove()">CANCEL</button>
			<button type="button" class="purchase" onclick= "remove()">PURCHASE</button>
		</div>
		</div>
		</div>
		</div>
		</div>
</body>
</html>
