button{
	margin: 3vh;
	height: 10vh;
	width: 10vw;
	font-size: 1.5vw;
}
h1{
	font-size: 50pt;
	text-align: center;
}
h2{
	font-size: 38pt;
	text-align: center;
}
h3{
	font-size: 24pt;
}
td{
	font-size: 18pt;
	padding-right: 10pt;
}
tr{
	font-size: 20pt;
	padding-right: 10pt;
	width: 10px;
}
.container{
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.fixed_options{
	float: left;
	padding: 20px;
	background-color: #87CEFA;
	background-size: fill;
}
.options{
	/*overflow used to give div scrollbar*/
	overflow: auto;
	height: 70vh;
	width: 50vw;
}
.right{
	float: center;
	margin-left: 5vw;
}
.right_table{
	overflow: auto;
	table-layout: fixed;
	text-align: center;
}
.right_table, th, td{
	border: 1px solid black;
}