<!DOCTYPE html>
<html>
   <head>
<script  type="text/javascript" src="{{url_for('static', filename ='script.js')}}">
   </script>
   <title>CClub snacks</title>      

   </head>
<body>
<h1>cclub snacks </h1>
<button type="button"  onclick="chargeMessage()">  charge </button>
<button type="button" onclick="cancelMessage()">cancel</button>
<button type="button" onclick="row('popcorn','0.25')">popcorn</button>
<button type="button" onclick="row('pop','0.50')">pop</button>
<div align="right">
<table id="checkout">
   <tr>
<th scope="col">product name</th>
<th  scope="col"> unit cost</th>
<th  scope="col">quantity</th>
<th scope="col">total cost</th>
</tr>
<tr>
   <td>popcorn</td>
   <td>0.25</td>
   <td  >1</td>
   <td>0.25</td>
   
</tr>
<tr>
   <td>pop</td>
      <td>0.50</td>
      <td>1</td>
      <td>0.5</td>
         
</tr>
</table>
</div>

<h5 id="message">please place your order</h5>
</body>
</html>
